/*DP26-08-2019*/
html,body {
    width: 100%;
    height: 100%;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    background-color: #E5EDF5;
    /* overflow-x: hidden; */
}

/* login - flex container -parent element */
#register {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center; /*horizontal*/
    align-items: center;     /*vertical*/
    flex-wrap: wrap;
    align-content: center;
}

.box-container {
    margin-top: 30px;
    margin-bottom: 20px;
    margin-bottom: 25px;
}

/* input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
  } */

  .additional-info  {
    margin-bottom: 12px;
}