/*DP26-08-2019*/
html,body {
    width: 100%;
    height: 100%;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    /* background-color: #E5EDF5; */
    /* overflow: hidden; */
}

/* login - flex container -parent element */
#newproducts {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;     
    flex-wrap: wrap;
    align-content: center;
}

/* .main-container {
    margin-bottom: 20px;
} */

#mainnav  {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 150px 0px 5px 25px;
    width: 100%;
    /* position: fixed; */
}

#mainnav #btproducts {
    font-size: 15px;
    font-weight: bold;
    border: 2px solid #1DD1A1;
    color: #1DD1A1;
    border-radius: 5px;
    background-color: transparent ;
    margin-left: 0px;
    margin-right: 10px;
    height: 40px;
    width: 110px;
    outline: none;
}

#mainnav #btexpenses {
    font-size: 15px;
    font-weight: bold;
    border: 2px solid #576574;
    color: #576574;
    border-radius: 5px;
    background-color: transparent ;
    height: 40px;
    width: 110px;
    outline: none;
}

#mainnav img {
    width: 40px;
    height: 40px;
    border-radius: 50px;
    margin-left: auto;
}

#mainnav h2 {
    font-size: 18px;
    color: #4D4D4D;
    margin-left: 15px;
    /* margin-right: 0px; */
}



#alltable {
    width: 90%; 
    /* height: 600px; */
    background-color: #E5EDF5;
    padding: 20px 100px 40px 60px;
    margin-bottom: 20px;
    /* margin: auto; */
}

#maintitle  {
    width: 85%;
    padding-bottom: 15px;
}

#maintitle h1 {
    font-size: 22px;
    font-weight: bold;
    color: #000000;
}

#common-box {
    display: flex;
    flex-wrap: wrap;
    /* height: 500px; */
    /* overflow: hidden; */
}

.form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #fff;
    width: 230px;
    /* height: 450px; */
    padding: 40px 120px 40px 40px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.input-container {
    width: 250px;
}

.label {
    width: 100%;
    font-size: 18px;
    color: #8d8d8d;
    margin-top: 2px;
    margin-bottom: 6px;
    display: inline-block;
}

.textfield {
    width: 100%;
    height: 35px;
    font-size: 15px;
    border: 2px solid #C6C6C6;
    background-color: #fff;
    border-radius: 5px;
    display: inline-block;
    flex-wrap: wrap;
    text-align:center;
}


.cp-button {
    width: 100%;
    height: 50px;
    font-size: 15px;
    color: #fff;
    background-color: #1DD1A1;
    Box-shadow: 
    0px 0px 16px  rgba(0, 0, 0, 0.17);
    border-radius: 5px;
    margin-top: 30px;
    display: inline-block;
    border: none;
   
}

#right-page {
    width: 360px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(230, 230, 230);
    color: #8d8d8d;
}

#right-page #simbol {
    /* display: inline-block; */
    padding: 0 0 0 0 ;
   font-size: 35px;
}

#right-page #title {
    /* display: inline-block; */
    padding: 0 0px 0 0px;
    font-size: 18px;
}




