<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
   <link rel="stylesheet" href="NP.css">
   <link rel="stylesheet" href="../../assets/css/shared.css">
   <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap" rel="stylesheet">
   <script src="https://kit.fontawesome.com/10a00b13bf.js"></script>
</head>
<body>
<!--DP26-08-2019-->
    <div id='newproducts'>
        
        <div class='main-container'>
            <header>

            </header>
            <nav id='mainnav'>
                <button id='btproducts'>PRODUCTS</button>
                <button id='btexpenses'>EXPENSES</button>
                <img src="../../assets/img/DPPHOTO.jpg">
                <h2>User name</h2>
            </nav>
        <div id='alltable'>
            <div id='maintitle'>
                <h1>New Product</h1>
            </div>
            <div id='common-box'>
            <div class='form-container'>
                    <form>
                       <p class='input-container'>
                            <label class="label" for="">
                                Product Name</label>
                            <input type="text" class="textfield">
                       </p>
                       <p class='input-container'>
                            <label class="label" for="">
                                Product Description</label>
                            <input type="text" class="textfield">
                       </p>
                       <p class='input-container'>
                            <label class="label" for="">
                                Product Type</label>
                            <input type="email" class="textfield">
                       </p>
                       <p class='input-container'>
                            <label class="label" for="">
                                Purchase Date</label>
                            <input type="text" class="textfield">
                       </p>
                       <p class='input-container'>
                            <label class="label" for="">
                                Product Price</label>
                            <input type="text" class="textfield">
                       </p>
                       <button class='cp-button'>
                           CREATE PRODUCT</button>
                    </form>
                    
                </div>
                <div id='right-page'>
                    <p id='simbol'><i class="fas fa-plus-circle"></i></p>
                        <p id='title'>You are creating a new product</p>
                </div>
            </div>
            
            
            
    </div>
</div>
       
        </div>
    
</body>
</html>