/*DP26-08-2019*/
html,body {
    width: 100%;
    height: 100%;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    /* background-color: #E5EDF5; */
    /* overflow: hidden; */
}

/* login - flex container -parent element */
#delproducts {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;     
    flex-wrap: wrap;
    align-content: center;
}

.main-container {
    /* background-color: 
    rgba(83, 83, 83, 0.5); */
    background-color: red;
    padding: 0px 0px 0px 0px;
    margin-bottom: 50px;
}

#general-screen {
    background-color: 
    rgba(66, 66, 66, 0.5);
    width: 90%;
    height: 100%;
    position: fixed;
}

/*DELETE BOX - start*/
#delbox {
    width: 380px;
    height: 200px;;
    background-color: #fff;
    position: fixed;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
}

#boxtext {
    display: flex;
    flex-direction: column;
    margin-right: auto;
    margin-left: 35px;
}

#delbox h2 {
    font-size: 16px;
    color: #404040;
    font-weight: bold;
    /* margin-right: auto; */
    /* background-color: red; */
}
#delbox p {
    font-size: 16px;
    color: #575757;
    /* margin-right: auto; */
    /* background-color: red; */
}

#buttons {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 35px;
}

#delbox #cancel, #delete {
    font-size: 15px;
    background-color: #fff;
    box-shadow: 
    rgba(0, 0, 0, 0.17);
    border: none;
    outline: none;
    padding: 5px 15px 5px 15px;
    border-radius: 3px;
    Box-shadow: 
    0px 0px 16px  rgba(0, 0, 0, 0.17);
}
#delbox #delete {
    background-color: #576574;
}
box-sizing

/*DELETE BOX - start*/



#mainnav  {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 200px auto 0px;
    padding: 10px 0 10px 0;
    width: 90%;
    height: 50px;
    background-color: greenyellow;
    /* position: fixed; */
}

#mainnav #btproducts {
    font-size: 15px;
    font-weight: bold;
    border: 2px solid #1DD1A1;
    color: #1DD1A1;
    border-radius: 5px;
    background-color: transparent ;
    margin-left: 30px;
    margin-right: 10px;
    height: 40px;
    width: 110px;
    outline: none;
}

#mainnav #btexpenses {
    font-size: 15px;
    font-weight: bold;
    border: 2px solid #576574;
    color: #576574;
    border-radius: 5px;
    background-color: transparent ;
    height: 40px;
    width: 110px;
    outline: none;
}

#mainnav img {
    width: 40px;
    height: 40px;
    border-radius: 50px;
    margin-left: auto;
}

#mainnav h2 {
    font-size: 18px;
    color: #4D4D4D;
    margin-left: 15px;
    margin-right: 30px;
}

#mainonebtn {
    display: flex;
    flex-direction: row;
    /* align-items: center; */
}

#alltable {
    width: 90%; 
    background-color: #E5EDF5;
    margin: auto;
}


#maintitle  {
    width: 85%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 25px;
    margin: auto;
    /* border-bottom: 1px solid black; */
    
}

#maintitle h1 {
    font-size: 22px;
    font-weight: bold;
    color: #000000;
}

#maintitle h2 {
    font-size: 16px; 
    color: #575757;
    margin-left: auto;
}

#maintitle select {
    height: 35px;
    width: 150px;
    font-size: 16px;
    padding-left: 10px;
    color: #8D8D8D;
    background-color: #fff;
    border: 2px solid #C6C6C6;
    border-radius: 5px;
    margin-left: 10px;
}

#maintable {
    width: 85%;
    border: 0px;
    border-spacing: 0px 10px;
    margin: auto;
}

#maintable thead th {
    font-size: 16px;
    color: #404040;
    padding: 0px 5px 5px 25px;
    border-bottom: 1px solid #707070;
    width: 180px;
    height: 50px;
    text-align: left;

}

#maintable tbody tr {
    font-size: 16px;
    color: #575757;
    background-color: #fff;
}

#maintable tbody td {
    width: 180px;
    height: 50px;
    padding: 5px 25px 5px 25px;
    
}

#maintable tbody td span i {
    padding-left: 80px;
    /* text-align: center; */
}


#mainonebtn #btnnewproduct {
    font-size: 14px;
    width: 180px;
    height: 45px;
    background-color: #575757;
    color: #fff;
    border-radius: 5px;
    border: none;
    outline: none;
    position: fixed;
    right: 180px;
    bottom: 70px;
}




